# Dependencies
node_modules/
__pycache__/
*.pyc

# Environment Variables (SECRETS)
.env

# Playwright Test Results
test-results/
playwright-report/
blob-report/

# Allure Reports
allure-results/
allure-report/
playwright-report/
test-results/

# OS Junk
.DS_Store
Thumbs.db
